<%- include('partials/header') %>

<main>
    <div class="student-info">
        <h1>Student Information</h1>
        <p>Name: <%= student.name %></p>
        <p>Id #: <%= student.id %></p>
        <p>Email: <%= student.email %></p>
        <p>Address: <%= student.address %></p>
    </div>
</main>

<%- include('partials/footer') %>